<div class="container">
	<p id="notice"><%= notice %></p>

	<h1>Notices</h1>

	<table class="table">
	  <thead>
		<tr>
		  <th>Título</th>
		  <th>Corpo da Notícia</th>
		  <th>Criação</th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% @notices.each do |notice| %>
		  <tr>
		    <td><%= notice.title %></td>
		    <td><%= notice.body %></td>
		    <td><%= notice.criation %></td>
		    <td><%= link_to 'Detalhes', notice, class:"btn btn-info" %></td>
		    <td><%= link_to 'Editar', edit_notice_path(notice), class:"btn btn-default" %></td>
		    <td><%= link_to 'Deletar', notice, class:"btn btn-danger",method: :delete, data: { confirm: 'Tem certeza?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'Adicionar Notícia', new_notice_path, class:"btn btn-primary" %>
</div>
